{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
      ],
    "rules": {
        "semi": [2, "always"],
        "one-var-declaration-per-line": [2, "always"],
        "react/prop-types": 0,
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "globals": {
        "window" :true,
        "console" :true
    }
}