{
    "rules": {
        "semi": [2, "always"],
        "one-var-declaration-per-line": [2, "always"]
    },
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}