body {
    margin: 0px;
    padding: 0;
    font-family: verdana;
    overflow:hidden;
}
.MuiSpeedDial-actions {
    background-color: gray;
    border-radius: 25px;
    padding-left:10px;
}
.MuiSpeedDial-actionsClosed {
    background-color: transparent
}
